{% load i18n %}
<h4>{% trans 'Calls:' %}</h4>
<p class="fieldset">
    <span class="legend">{% trans "Total Calls" %}:</span>
    <span>{{ stats.calls }}</span>
</fieldset>
<p class="fieldset">
	<span class="legend">{% trans "Total Time" %}:</span>
	<span>{{ stats.duration }}ms</span>
</fieldset>
<p class="fieldset">
	<span class="legend">{% trans "Hits" %}:</span>
	<span>{{ stats.hits }}</span>
</fieldset>
<p class="fieldset">
	<span class="legend">{% trans "Misses" %}:</span>
	<span>{{ stats.misses }}</span>
</fieldset>
{% for command, count in commands.iteritems %}
<p class="fieldset">
    <label>
        <input class="filter" value=".{{ command }}" type="checkbox">
	    <span class="legend">{{ command }}:</span>
	    <span>{{ count }}</span>
    </label>
</fieldset>
{% endfor %}

<table>
    <thead>
        <tr>
            <th>{% trans 'Duration' %}</th>
            <th>{% trans 'Call' %}</th>
            <th>{% trans 'Args' %}</th>
            <th>{% trans 'Result' %}</th>
            <th>{% trans 'Actions' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for call in calls %}
        <tr class="{{ call.function }}">
            <td>{{ call.duration }} ms</sup></td>
            <td>{{ call.function }}</td>
            <td>{{ call.args }}</td>
            <td><pre>{{ call.ret }}</pre></td>
            <td>
                <a class="djMemcacheShowStacktrace" href="#">{% trans 'Stacktrace' %}</a>
            </td>
        </tr>
        <tr class='djMemcacheStacktrace' style='display:none;'>
            <td colspan=5>
                {% if call.stacktrace %}
                <div class="djSQLHideStacktraceDiv">
                    <pre class="stack">{{ call.stacktrace }}</pre>
                    {% if call.template_info %}
                    <table>
                        {% for line in call.template_info.context %}
                        <tr>
                            <td>{{ line.num }}</td>
                            <td><code style="font-family: monospace;{% if line.highlight %}background-color: lightgrey{% endif %}">{{ line.content }}</code></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <p><strong>{{ call.template_info.name|default:"(unknown)" }}</strong></p>
                    {% endif %}
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
// the way ddt is using jquery we can't get at it after the fact.  our options
// are to reload the whole thing or to not use jquery, for now we'll reload...
// :( this is just about a copy of toolbar.js from ddt
djdt.jQuery('a.djMemcacheShowStacktrace').click(function(ev) {
    ev.preventDefault();
    $(this).parent().parent().next().toggle();
    return false;
});
</script>
